@mixin carto($cw , $ch ){
  width: $cw;
  height: $ch;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Righteous", cursive;
  list-style: none;
}
h1{
  text-align: center;
}

body {

    h2{text-align: center;}
    background-color: white;
    position: static;
    .cabecera {
        width: 100% auto;
        margin: 10px;
        grid-area: cabecera;
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 1fr;
        grid-template-areas: "logo menus";
        gap: 10px;
      .logo,
      .menus,
      .centro,
      .pie {
        text-align: center;
        border-radius: 3px;
      }
      nav.logo {
        grid-area: logo;
      }
      nav.menus {
        height: 1rem;
        grid-area: menus;
        
      }
      .centro {
        grid-area: centro;
      }
      .pie {
        grid-area: pie;
      }
      nav {
        padding: 1rem;
        text-align: end;
      
     ul {
        list-style: none;
        background-color: rgb(217, 228, 222);
        display: flex;
        justify-content: flex-end;
      
       a {
        color: rgb(72, 11, 241);
        text-decoration: none;
        padding: 0.7rem;
        display: block;
      }
      li:hover {
        background-color: rgb(20, 149, 172);
        color: rgb(78, 9, 9);
        font-weight: bold;
      }
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgb(30, 241, 171);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      .dropdown-content a:hover {
        background-color: rgb(20, 149, 172);
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      } 
    }
    @media screen and (max-width: 768px) {
      .cabecera {
    display: flex;
    flex-direction: column;}
    }
    }
    @media screen and (max-width: 768px) {
      .cuerpo {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6 1fr);
      }
    }
  }
.nuestro{
    section{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 60vh;
      
    }

}

.row{
  height: auto;
  display: flex;
  justify-content: space-evenly;
  .card{
  @include carto( 280px, 500px);

   .card-body{

      .card-title{
        font-family: "Righteous", cursive;
        text-transform: uppercase;
        text-align: center;
      }
      .card-text{
        font-family: "Righteous", cursive;
        font-size: small;
      }
      a{
        display: flex;
        justify-content:center;
 
      }
    }
  }
}
footer{
  display: grid;
  background-color: rgb(217, 228, 222);
  grid-template-areas: "logs ubica hora" 
  "none derecho derecho";
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 3fr 1fr;


  .ubica{
    grid-area: ubica;
    h4{
    font-size: 10px;
  }
  .li_ti h4{
    font-size: 16px;
  }}

  .hora{
    grid-area: hora;
    h4{
    font-size: 10px;
  }.li_ti h4{
    font-size: 16px;
  }}
  .derecho{
    grid-area: derecho;
  }

}
main{
  height: auto;
  .equipo{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .card{
      @include carto( 220px, 380px);
      p{
        font-size: 10px;
      }
    }

  }
}

.centro{
.productos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  img{
    @include carto( 250px, 200px)
  }
  h5{
    font-size: 16px;
  }
  p{
    font-size: 10px;
  }
}}