* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(./img/bg.jpg);
  position: static;
}
h1 {
  text-align: center;
  font-family: "Righteous", cursive;
  text-transform: capitalize;
}
h1 a {
  text-decoration: none;
}
h2 {
  font-family: "Righteous", cursive;
  text-transform: capitalize;
}
h3 {
  font-family: "Righteous", cursive;
  text-transform: capitalize;
  text-align: center;
}
.cuerpo {
  width: 100%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px 8fr 20px;
  grid-template-areas:
    "cabecera cabecera"
    "centro centro"
    "pie pie";
  gap: 10px;
}
.cabecera {
  grid-area: cabecera;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo menus";
}

.logo,
.menus,
.centro,
.pie {
  text-align: center;
  border-radius: 3px;
}
nav.logo {
  grid-area: logo;
}
nav.menus {
  height: 1rem;
  grid-area: menus;
}
.centro {
  grid-area: centro;
}
.pie {
  grid-area: pie;
}
/* ----------- nav ---------*/

nav {
  padding: 1rem;
  text-align: end;
}
nav ul {
  list-style: none;
  background-color: rgb(30, 241, 171);
  display: flex;
  justify-content: flex-end;
}
nav ul a {
  color: white;
  text-decoration: none;
  padding: 0.7rem;
  display: block;
}
nav ul li:hover {
  background-color: antiquewhite;
  color: darkred;
  font-weight: bold;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(30, 241, 171);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* --------------fin nav--------- */
/*-------mas pedidos----------*/
h2 {
  text-align: center;
  padding: 2rem;
}
.pedidos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.mas {
  width: 15rem;
  transition: all 1s;
}
.mas img {
  width: 10rem;
}
.mas:hover {
  box-shadow: 1px 5px 20px 1px;
}
/* --------inicio galeria--------*/
.galery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.galery img {
  width: 16rem;
}
.galery img:hover {
  box-shadow: 1px 5px 20px 1px;
}
/* ---------- Fin galeria------*/
/* ------productos--------*/
.productos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  gap: 10px;
}
/*-------fin productos-------*/
/*--------Nosotros-------*/
.nosotros p {
  font-family: "Bebas Neue", cursive;
  color: blue;
  font-size: 1rem;
}
.equipo {
  color: #ccc;
}

/*----------Contacto----------*/
fieldset {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
}
input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
input[type="reset"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}
input[type="reset"]:hover {
  background-color: #45a049;
}

.comnt:after {
  content: "";
  display: table;
  clear: both;
}
/*----Fin Contacto------*/
@media screen and (max-width: 768px) {
  .cuerpo {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6 1fr);
  }
}
@media screen and (max-width: 768px) {
  .cabecera {
display: flex;
flex-direction: column;}
}
@media screen and (max-width: 768px) {
  .galery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  .galery {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6 1fr);
  }
}